.button {
  white-space: nowrap;
  cursor: pointer;
  border: none;
  background-color: #6ab67c;
  padding: 6px 12px;
  border-radius: 999px;
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;

  &--disabled {
    background-color: rgb(235, 229, 229);
    cursor: not-allowed;
  }
}
