.holders-table {
  background-color: #252836;

  &__cell-content {
    display: flex;
    align-items: center;
  }

  &__cell-mobile {
    display: flex;
  }

  &__cell-mobile-title {
    display: none;
    color: #797a91;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
  }

  &__text {
    margin-right: 10px;
  }
}

@media (max-width: 768px) {
  .holders-table {
    &__cell-content {
      display: flex;
      width: 100%;
      justify-content: space-between;
    }

    &__cell-mobile {
      display: flex;
    }

    &__cell-mobile-title {
      display: block;
      margin-right: 20px;
    }
  }
}
