.levels-block {
  display: flex;
  align-items: center;

  &__balance-card-wrapper {
    position: relative;
    padding-right: 24px;
    min-width: 390px;

    &::after {
      content: " ";
      position: absolute;
      right: -1px;
      transform: translateY(-50%);
      top: 50%;
      width: 2px;
      height: 24px;
      background-color: #272a37;
    }
  }

  &__level-list {
    padding-left: 24px;
    display: flex;
    gap: 25px;
    overflow-x: auto;
  }
}
