.filters {
  &__dropdowns-wrapper {
    display: flex;
    margin-bottom: 14px;
  }

  &__selector-level-wrapper {
    max-width: 360px;
    width: 100%;
    margin-right: 10px;
  }

  &__selector-currency-wrapper {
    max-width: 100px;
    width: 100%;
  }
}
