.filters {
  &__dropdowns-wrapper {
    display: flex;
    margin-bottom: 14px;
  }
  &__dropdown-level {
    display: flex;
    max-width: 360px;
    color: #fff;
    width: 100%;
    padding: 8px 8px 8px 12px;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    background: #252735;
    margin-right: 10px;
  }

  &__dropdown-currency {
    display: flex;
    max-width: 100px;
    color: #fff;
    width: 100%;
    padding: 8px 8px 8px 12px;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    background: #252735;
  }

  &__selector-level-wrapper {
    max-width: 360px;
    width: 100%;
    margin-right: 10px;
  }

  &__item-wrapper {
    display: flex;
    gap: 8px;
    min-width: 100px;
  }

  &__selector-currency-wrapper {
    max-width: 100px;
    width: 100%;
  }
}
