.buy-widget {
  max-width: 505px;
  width: 100%;
  border-radius: 12px;
  border: 1px dashed #6ab67c;
  padding: 16px;

  &__tabs-wrapper {
    display: flex;
    padding: 4px;
    align-items: center;
    border-radius: 12px;
    background: #1f212c;
    margin-bottom: 22px;
  }

  &__button-tab {
    display: flex;
    padding: 8px 24px;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    border: unset;
    border-radius: 999px;
    background: unset;
    cursor: pointer;

    &--active {
      display: flex;
      padding: 8px 24px;
      justify-content: center;
      align-items: center;
      border-radius: 8px;
      background: #2c2f3e;
      cursor: pointer;
      color: #fff;
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: 20px;
    }
  }
}
